h2.base-page__heading,
h2.base-page__heading-short {
  color: #434240;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  display: block;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  text-transform: capitalize;
  @media screen and (max-width: 640px) {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
}

h2.base-page__heading {
  margin-bottom: 80px;
}

h2.base-page__heading-short {
  margin-bottom: 30px;
}

.base-page__heading > a > i,
.base-page__heading-short > a > i {
  font-size: 20px;
}

.base-page__inner-margin {
  margin-left: 50px;
  margin-right: 50px;
  @media screen and (max-width: 640px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.primary-button {
  background-color: #fbbf24dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  @media screen and (max-width: 640px) {
    padding: 7px 12px;
    font-size: 14px;
  }
}

.primary-button:hover {
  background-color: #f59e0bdd;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.05);
}

a i:hover,
.float-end i:hover {
  color: #d97706;
}

/* card grids for posts */
.bg-white.shadow-md.rounded-lg.p-4:hover {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.05);
  transition: all 0.3s;
}

.scroll-inside {
  overflow-y: auto;
  white-space: nowrap;
  max-height: 500px;
}

.base-page__inner-margin::-webkit-scrollbar,
.scroll-inside::-webkit-scrollbar {
  width: 10px;
  background-color: #fffa;
  border-radius: 10px;
}
@media screen and (max-width: 640px) {
  .base-page__inner-margin::-webkit-scrollbar,
  .scroll-inside::-webkit-scrollbar {
    width: 5px;
  }
}

.base-page__inner-margin::-webkit-scrollbar-thumb,
.scroll-inside::-webkit-scrollbar-thumb {
  background: #c5c5c5aa;
  border-radius: 10px;
}
