@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../css/authpages.css";
@import "../css/basepages.css";

:root {
  --default-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.error-text {
  color: rgb(153 27 27);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(254 242 242);
  @media screen and (max-width: 640px) {
    padding: 0.6rem 1rem;
    font-size: 14px;
  }
}

.success-text {
  color: rgb(1, 152, 61);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(208, 254, 208);
  @media screen and (max-width: 640px) {
    padding: 0.6rem 1rem;
    font-size: 14px;
  }
}

/*  hide all scrollbar */
::-webkit-scrollbar {
  width: 0;
}
